body {
	text-align: center;
	padding: 1% 2%;
	background: lightgray;
	color: teal;
	font-family: "Helvetica";
}

section {
	height: 95vh;
}

h1 {
	font-size: 3rem;
	margin-bottom: 1.5rem;
}

button {
	border: 1px solid teal;
	background-color: lightgray;
	color: teal;
	padding: 1% 2%;
	font-size: 1.4rem;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 1rem;
}

button:hover {
	background: teal;
	color: white;
}

button:focus {
	outline: none;
}

.img-container {
	height: 60vh;
}

img {
	max-width: 100%;
	width: 300px;
	padding: 2%;
	margin: 0 auto;
}

footer {
	margin-top: 2rem;
	position: absolute;
	color: teal;
	text-align: center;
	width: 100%;
}

span {
	position: relative;
	bottom: 0;
}
